<%if session.include?(:message)%>
        <%= session[:message]%>
        <% session.delete(:message) %>
        <br>
<% end %>

<h1><%=@user.first_name%> <%=@user.last_name%></h1>
Position: <%=@user.position%> <br>
Email: <%=@user.email%> <br> 
<br>
<h3>All Projects:</h3>
<ul>
    <%@user.projects.each do |project| %>
        <li><a href="/projects/<%=project.slug%>" ><%=project.name%></a> <br>
    <%end%>
</ul>


	

<h3>All Reports by Project:</h3>
<hr style="border-top: solid 2px;" />

<%@user.projects.each do |project| %>
    <h3><%=project.name%> </h3>

    <%project_reports = [] %>
    <% @user.daily_reports.each do |report| %>
        <%if report.project_id == project.id%>
            <% project_reports << report %>
        <%end%>	
    <%end%>

    <%@sorted_reports_by_date = project_reports.sort_by{|k| k[:work_date]} %>

    <%@sorted_reports_by_date.each do |report| %>
        <b><%=report.work_date%></b> - Weather: <%=report.weather%> <br> 
        Work Completed: <%=report.work_completed%> <br>
        <a href="/daily_reports/<%=report.id%>" >View Full Report</a>

        <%if report != @sorted_reports_by_date.last %>
            <hr style="border-top: dotted 1px;" />
        <%end%>

    <% end %>
        
    <hr style="border-top: solid 2px;" />

<% end %>  
    




<form method="GET" action="/users/<%=@user.slug%>/edit">
    <input type="submit" value="Edit User Details" id="Edit User" <%= 'disabled' if @user != current_user %> >
</form>

<form method="POST" action="/users/<%=@user.slug%>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete User" id="Delete USer" <%= 'disabled' if @user != current_user %> >
</form>