users account page, show all of thier reports, sorted by project <br>

<%if session.include?(:message)%>
        <%= session[:message]%>
        <% session.delete(:message) %>
        <br>
    <% end %>

	
	TODO: add reports to page <br>
    




<form method="GET" action="/users/<%=@user.slug%>/edit">
    <input type="submit" value="Edit User Details" id="Edit User" <%= 'disabled' if @user != current_user %> >
</form>

<form method="POST" action="/users/<%=@user.slug%>">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete User" id="Delete USer" <%= 'disabled' if @user != current_user %> >
</form>