<h2>Create New User:</h2>
<br>

<form method="post" action="/users" name="new_user">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="new_user[first_name]" required>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="new_user[last_name]" required>

    <br>

    <label for="username">Username:</label>
    <input type="text" id="username" name="new_user[username]" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="new_user[password]" required>

    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="new_user[email]" required>

    <label for="position">Positon:</label>
    <input type="text" id="position" name="new_user[position]" required>

    <br>

    <hr>
    <br>
    Current Projects:
    <br>
    <% @projects.each do |project|%>
        <input type="checkbox" id="<%=project.id%>" name="new_user[project_ids][]" value="<%=project.id%>">
        <label for="<%=project.id%>"><%=project.name%></label><br>
    <%end%>
    <br>
   

    <hr>
    <input type="submit" name="submit" id="submit" value="Create New User">
</form>

<div class="container error-text"> 
    <%if session.include?(:message)%>
            <%= session[:message]%>
            <% session.delete(:message) %>
            <br>
    <% end %>
</div>
