<h2>Create New User:</h2>
<br>

<form class="new-object-form" method="post" action="/users" name="new_user">

	<div class="row">
		<div class="col-20">
			<label for="first_name">First Name:</label>
		</div>
		<div class="col-30">
			<input type="text" id="first_name" name="new_user[first_name]" required>
		</div>
		<div class="col-20">
			<label for="last_name">Last Name:</label>
		</div>
		<div class="col-30">
			<input type="text" id="last_name" name="new_user[last_name]" required>
		</div>
	</div>

	<div class="row">
		<div class="col-20">
			<label for="username">Username:</label>
		</div>
		<div class="col-30">
			<input type="text" id="username" name="new_user[username]" required>
		</div>
		<div class="col-20">
			<label for="password">Password:</label>
		</div>
		<div class="col-30">
			<input type="password" id="password" name="new_user[password]" required>
		</div>
	</div>

	<div class="row">
		<div class="col-20">
			<label for="email">Email:</label>
		</div>
		<div class="col-30">
			<input type="email" id="email" name="new_user[email]" required>
		</div>
		<div class="col-20">
			<label for="position">Position:</label>
		</div>
		<div class="col-30">
			<input type="text" id="position" name="new_user[position]" required>
		</div>
	</div>

	<hr>

	<h3>Assign User to Current Projects:</h3>

	<% @projects.each do |project|%>
		<div class="row">
			<div class="col-20">
				<label for="<%=project.id%>"><%=project.name%></label><br>
			</div>
			<div class="col-20">
				<input type="checkbox" id="<%=project.id%>" name="new_user[project_ids][]" value="<%=project.id%>">
			</div>
		</div>
			
	<%end%>
	<br>

	<hr>
	
	<input class="button" type="submit" name="submit" id="submit" value="Create New User">
</form>

<div class="container error-text"> 
	<%if session.include?(:message)%>
		<%= session[:message]%>
		<% session.delete(:message) %>
		<br>
	<% end %>
</div>
