<h2>Create New Project:</h2>
<br>

<form class="new-object-form" method="post" action="/projects" name="new_project">
    
    
	<div class="row">
		<div class="col-20">
			<label for="project_name">Project Name:</label>
		</div>
		<div class="col-30">
			<input type="text" id="project_name" name="new_project[name]" required>
		</div>
		<div class="col-20">
			<label for="address">Site Address:</label>
		</div>
		<div class="col-30">
			<input type="text" id="address" name="new_project[address]" required>
		</div> 
	</div>
    
    <div class="row">
		<div class="col-20">
			<label for="start_date">Start Date:</label>
		</div>
		<div class="col-30">
			<input type="date" id="start_date" name="new_project[start_date]" required>
		</div>
		<div class="col-20">
			<label for="finish_date">Finish Date:</label>
		</div>
		<div class="col-30">
			<input type="date" id="finish_date" name="new_project[finish_date]" required>
		</div> 
	</div>

    <div class="row">
		<div class="col-20">
			<label for="description">Project Description:</label>
		</div>
		<div class="col-80">
			<input type="text" id="description" name="new_project[description]" required>
		</div>
	</div>

    <hr>
    
    <h3>Current Users:</h3>
    
    <div class="container">
        <% @users.each do |user|%>
        <div class="row">
		    <div class="col-20" >
                <div id="button-box">
                    <input type="checkbox" id="<%=user.id%>" name="new_project[user_ids][]" value="<%=user.id%>" <%= 'checked' if user == current_user%> >
                </div>
            </div>
            <div class="col-80">
                <label for="<%=user.id%>"><%=user.first_name%> <%=user.last_name%></label><br>
            </div>
        <%end%>
        <br>
    </div>

    <hr>
    <input class="button" type="submit" name="submit" id="submit" value="Create New Project">
</form>
