<h1>Project Details: <%=@project.name%> </h1>
Site Address: <%=@project.address%> <br>
Scheduled Duration: <%=@project.scheduled_duration%> <br>
Scheduled Start Date: <%=@project.start_date%> <br>
Scheduled Finish Date: <%=@project.finish_date%> <br>

<hr style="border-top: solid 2px;" />

<h3>Users on Project</h3>
<ul>
<%@project.users.each do |user|%>
	<li> <a href="/users/<%=user.slug%>" ><%=user.first_name%> <%=user.last_name%></a>
<%end%>
</ul>

<hr style="border-top: solid 2px;" />

<h3>All Daily Reports: </h3>

<%sorted_reports_by_date = @project.daily_reports.sort_by{|k| k[:work_date]} %>

<%sorted_reports_by_date.each do |report|%>
	<a href="/daily_reports/<%=report.id%>" ><%=report.work_date%> </a>
	Submitted by: <%=report.user.first_name%> <%=report.user.last_name%> <br>
	Work Completed: <%=report.work_completed%>
	<hr style="border-top: dotted 1px;" />
<%end%>


<form method="GET" action="/projects/<%=@project.slug%>/edit">
    <input type="submit" value="Edit Project" id="Edit Project" >
</form>

