<h2>Create New Daily Report:</h2>
<br>
<%if session.include?(:message)%>
        <%= session[:message]%>
        <% session.delete(:message) %>
        <br>
    <% end %>
<br>

<form method="post" action="/daily_reports" name="daily_report">

<label for="work_date">Date:</label>
<input type="date" id="work_date" name="daily_report[work_date]" value="<%=Date.today.to_s%>" required>

<label for="no_of_workers_on_site">Workers Onsite:</label>
<input type="number" id="no_of_workers_on_site" name="daily_report[no_of_workers_onsite]" placeholder="# of workers on site" required>
<br>

<label for="shift_start_time">Shift Start Time:</label>
<input type="time" id=shift_start_time" name="daily_report[shift_start_time]" required> 

<label for="shift_end_time">Shift End Time:</label>
<input type="time" id=shift_end_time" name="daily_report[shift_end_time]" required>
<br>

<hr>

<label for="work_completed">Work Completed:</label><br>
<textarea id="work_completed" name="daily_report[work_completed]" rows="6" cols="80" placeholder="Describe the work completed on site today." required></textarea>
<br>

<label for="weather">Weather:</label><br>
<input type="text" id="weather" name="daily_report[weather]" placeholder="Temp and sky conditions." required>
<br>

<label for="deliveries">Deliveries:</label><br>
<textarea id="deliveries" name="daily_report[deliveries]" rows="2" cols="80" placeholder="What deliveries were made to the site today."></textarea>
<br>

<label for="inspections">Inspections:</label><br>
<textarea id="inspections" name="daily_report[inspections]" rows="2" cols="80" placeholder="Did any inspections take place on site today?"></textarea>
<br>
<hr>

Select Project:<br>

<% @projects.each do |project|%>
    <input type="radio" id="<%=project.id%>" name="daily_report[project_id]" value="<%=project.id%>" required>
    <label for="<%=project.id%>"><%=project.name%></label><br>
<%end%>
<br>

<hr>
Current User: <%=@user.first_name%> <%=@user.last_name%><br>
<input type="submit" name="submit" id="submit" value="Submit Daily Report">

<input type="hidden" id="hidden" name="daily_report[user_id]" value="<%=@user.id%>"> 
</form>
